




body{
	background: #000;
}
.slide{
	max-height: 530px;
	overflow: hidden;
}


.site-header,
.site-footer{
	
	background:#000 ;
}
.top-ribbon,
.footer-ribbon{
	background: #000;
	border: none;
}
.top-ribbon{
	margin-bottom: 7px;
}
.slider-container-fluid{
	padding-top: 3.5rem;
}
.navbar-nav.nav .dropdown .dropdown-menu{
	background: #27f;
}
.site-identity{ padding-top: 5px; }
.footer-ribbon{
	padding: 10px 0;
}
.scroll-to-top{
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 9999999999999999999999999999999999999999999999999999999999999;
	text-decoration: none !important;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #F2C641;
}
.site-footer{ padding-top: 10px; position: relative; }
.header-ribbon{
	background: #F2C641;
}
#content{
	padding: 3rem 0;
}
.login-page .header-ribbon,
.login-page .site-footer{
	display: none;
}
.hideee{
	display: none;
}
.login-page #content{
	background: transparent;
}
.container-custom{
	width: 280px;
	margin: auto;
}
.login-form .form-control{
	background: transparent;
	border: none;
	box-shadow: 0 0 0 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #999;
	border-radius: 0;
	z-index: 999;
	color: #666;
	position: relative;
	font-size: 1.5rem;
	transition: .5 ease;
}
.login-form label{
	font-size: 1.5em;
	color: #999;
	position: absolute;
	top: 0;
	z-index: 1;
	padding: 7px 0 0 13px;
	cursor: text;
	transition: .5s ease;
}
.login-form .border-bottom{
	display: block;
	width: 0;
	height: 2px;
	background: #27f;
	position: relative;
	top: -2px;
	transition: .5s ease;
}
.login-form .form-control:focus + label,
.login-form .form-control:valid + label{
	transform: translate3d(0, -100%, 0);
	color: #11f;
	font-size: 1.2em;
}
.login-form .form-group{
	position: relative;
	margin-bottom: 2rem;
}
.login-form .form-control:focus ~ .border-bottom,
.login-form .form-control:valid ~ .border-bottom{
	width: 100%;
}
.login-form .btn{
	width: 80%;
	display: block;
	margin: auto;
	padding: 10px 5px;
	border-radius: 10rem;
	background: #F2C641;
	color: #000;
	border: none;
	box-shadow: 0 5px 15px #333;
	transition: all .2s ease;
}
.login-form .btn:hover,
.login-form .btn:focus{
	color: #F2C641;
	background: #000;
}
.login-form ul{
	margin: 20px 0;
	list-style-type: disc;
}
.login-form ul li{
	margin: 10px 0;
}
.form-icon{
	display: block;
	text-align: center;
	color: #27f;
	font-size: 6rem;
	text-shadow: 0 5px 15px #333;
	cursor: pointer;
	transition: color .3s linear;
	background:#000 ;
}
.form-icon:hover{
	color: #27f;
	background: none;
	text-decoration: none;
}
.login-form p{
	margin: 10px 0;
}
.carousel{
	margin-bottom: 5px;
}
.carousel,
.header-ribbon{
	display: none;
}
.col-slider{
	box-sizing: border-box !important;
}
.monitor{
	width: 100%;
	position: relative;
	height: 500px;
}
.monitor .rectangle{
	width: 100%;
	border-radius: 15px 15px 0 0;
	border: 20px solid #333;
	height: 430px;
	background: #F2C641;
}
.rectangle img{
	width: 100%;
}
.monitor .bottom{
	width: 100%;
	height: 50px;
	border-radius: 0 0 15px 15px;
	background-image: linear-gradient(to left, #857d7d,#9a9391, #b0aaa6, #c3bfbb, #d8d9d4);
}
.monitor .base{
	height: 30px;
	background-image: linear-gradient( #675f62,#7a7375, #918a89, #a8a29e, #bbb5b1, #cecac5);
	width: 20%;
	margin: auto;
}
.slider-text{
	padding: 10rem 0 0 9rem;
}
.section.about .post-thumbnail{
	width: 100%;
	border: 5px solid #fff;
	outline: 1px solid #333;
	background: #333333;
	min-height: 140px;
	max-height: 140px;
	margin-bottom: 1.5rem;
}
.section{
	margin-bottom: 1.5rem;
}
.site-footer .row .col-md-3{
	margin-bottom: 1.5rem;
}
/*****************
*Text Formating**
*****************/
.navbar-toggle{
	border: 1px solid #fff;
}
.navbar-toggle span{
	background: #fff;
}
.site-header a{
	color: #fff;
	transition: all .2s ease;
}
.site-header a:focus,
.site-header a:hover{
	color: #ccc;
}
body{
	font-family: arial;
	font-size: 14px;
}
h1,
h2,
h3{
	font-size: 2em;
	color: #666;
}
a{
	background:#F2C641;
}
.site-header{
	color: #fff;
}
ul.navbar-nav li a,
ul.nav li a{
	color: #fff;
	transition: all .4s ease;
}
.footer-section-title{
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 5px;
}
p{ font-size: 1rem; line-height: 1.2rem; color: #333; }
ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus,
ul.nav li a:hover,
ul.nav li a:focus{
	color: #F2C641;
	background: #000;
}
.navbar-nav.nav .dropdown a:focus{
	background: #F2C641;
}
ul.navbar-nav li.active a{
	background: #F2C660;
	color: #fff;
}
.site-title a{
	color: #fff;
	text-transform: uppercase;
	font-family: georgia;
}
.site-title a:hover,
.site-title a:focus{
	color: #ddd;
	text-decoration: none;
}
.tag-line{
	font-size: 1em;
	font-family: georgia;
	color: #fff;
}
.site-footer p{
	color: #fff;
}
.site-footer a{
	color: #fff;
	transition: all .3s linear;
}
.site-footer a:hover,
.site-footer a:focus{
	color: #ddd;
}
.slider-text h1{
	margin-bottom: 15px;
	color: #fff;
}
.slider-text p{
	color: #f2f2f2;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}
.slider-text a.btn-default{
	background: #F2C641;
}
.slider-text a.btn-default:hover{
	background: #27f;
	color: #fff;
}
.section h3{
	margin-bottom: 3rem;
	font-size: 1.7rem;
}
.section h2 span{
	font-weight: 700;
}
.large-pre-quote{
	quotes: '\201c' '\201d';
	position: relative;
	padding-left:3em;
	font-family: georgia;
	margin-bottom: 1em;
}
.large-pre-quote:before{
	position: absolute;
	left: 0;
	bottom: -.13em;
	color: #e1e1e1;
	content: open-quote;
	font-size: 9rem;
	margin: 0;
	line-height: 0;
	padding: 0;
}
.section.services .post-thumbnail{
	width: 100%;
	height: 64px;
	background: #333;
}
.section.services .row,
.section.testimonies div{
	margin-bottom: 1.3rem;
}
.section h2{
	font-size: 1.2rem;
	line-height: 1.8;
}
.section p,
.section h2{
	color: #878787;
}
.site-footer h3{
	color: #fff;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
}
.site-footer ul{
	list-style-type: none;
	padding-left: .5rem;
}
.site-footer ul li a{
	font-size: .9rem;
	display: inline-block;
	padding: 5px 0 5px 10px;
}
.site-footer ul li{ position: relative; }
.site-footer ul li:before{ content: '>>'; color: #fff; }
.site-footer h2{
	font-size: 1.2rem;
	font-weight: 700;
}
.post-meta{
	font-size: .9rem;
	font-style: italic;
}
.site-footer p{
	font-size: 1em;
	color: #ddd;
}
.blog-post-footer,
.tweet{ margin-bottom: 1rem; }
.footer-form .label{
	font-size: 1.2em;
	display: block;
	text-align: left;
}
.footer-form *{
	font-size: .9rem;
}
.footer-form input[type=submit]{
	background: #000;
	color: #F2C641;
	padding: 10px;
	transition: all .2s ease;
}
.footer-form input[type=submit]:hover{
	background: #F2C641;
}
@media (min-width: 768px) {
  .container-custom {
    width: 240px;
  }
}
@media (min-width: 992px) {
  .container-custom {
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .container-custom {
    width: 320px;
  }
	.carousel,
	.header-ribbon{
		display: block;
	}
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}